# ASSIGNMENT-1

## WEB SCRAPING

In [3]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\nizam\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\nizam\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\nizam\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\nizam\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\nizam\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nizam\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nizam\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nizam\anaconda3\lib\site-packages (from requests) (2021.10.8)

### Important libraries

In [35]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Q1 Write a python program to display all the header tags from wikipedia.org and make data frame.

##### Sending get request to the webpages to get the source code

In [36]:
source=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [37]:
source

In [38]:
soup4=BeautifulSoup(source.content)

In [42]:
# Find all the header tags (h1 to h6) in the HTML content
headers = soup4.find_all(["h1", "h2", "h3", "h4", "h5", "h6"])
headers

[<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>,
 <h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>]

In [45]:
# Extract the text content of each header tag
head = []
for i in headers:
    head.append(i.text)
head

['Main Page',
 'Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [46]:
# Create a pandas DataFrame to store the header data
df = pd.DataFrame(header_text, columns=["Header"])

# Display the DataFrame
df

                          Header
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

### Q2 Write a python program to display IMDB’s Top rated 50 movie's data (i.e. name, rating, year of release) and make data frame

IMDB rating top 100 decreasing link

In [47]:
imdb=requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')

In [48]:
imdb

In [49]:
soap=BeautifulSoup(imdb.content)

In [64]:
name=[]
for i in soap.find_all('h3',class_="lister-item-header"):
    name.append(i.text.split('\n')[2])
    
name

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Lord of the Rings: The Return of the King',
 "Schindler's List",
 '12 Angry Men',
 'The Godfather Part II',
 'Pulp Fiction',
 'Inception',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Fight Club',
 'Forrest Gump',
 'The Lord of the Rings: The Two Towers',
 'Il buono, il brutto, il cattivo',
 'GoodFellas',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'The Empire Strikes Back',
 'Interstellar',
 'Se7en',
 'Star Wars',
 'The Silence of the Lambs',
 'The Green Mile',
 'Sen to Chihiro no kamikakushi',
 'Terminator 2: Judgment Day',
 'Saving Private Ryan',
 'Cidade de Deus',
 'La vita è bella',
 'Shichinin no samurai',
 "It's a Wonderful Life",
 'Seppuku',
 'Alien',
 'Gladiator',
 'Whiplash',
 'Gisaengchung',
 'The Departed',
 'Back to the Future',
 'Léon',
 'The Prestige',
 'Psycho',
 'The Lion King',
 'Apocalypse Now',
 'The Pianist',
 'American History X',
 'The Usual Suspects',
 'Casablanca',
 'Once Upon a Time in the West',
 'The Intouchables',
 'Hotaru no haka',
 'Rear Window']

In [68]:
year=[]
for i in soap.find_all('h3',class_="lister-item-header"):
    year.append(i.text.split('\n')[3])
    
year

['(1994)',
 '(1972)',
 '(2008)',
 '(2003)',
 '(1993)',
 '(1957)',
 '(1974)',
 '(1994)',
 '(2010)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(2002)',
 '(1966)',
 '(1990)',
 '(1999)',
 '(1975)',
 '(1980)',
 '(2014)',
 '(1995)',
 '(1977)',
 '(1991)',
 '(1999)',
 '(2001)',
 '(1991)',
 '(1998)',
 '(2002)',
 '(1997)',
 '(1954)',
 '(1946)',
 '(1962)',
 '(1979)',
 '(2000)',
 '(2014)',
 '(2019)',
 '(2006)',
 '(1985)',
 '(1994)',
 '(2006)',
 '(1960)',
 '(1994)',
 '(1979)',
 '(2002)',
 '(1998)',
 '(1995)',
 '(1942)',
 '(1968)',
 '(2011)',
 '(1988)',
 '(1954)']

In [75]:
rating=[]

for i in soap.find_all('div',class_="inline-block ratings-imdb-rating"):
    rating.append(i.text.split('\n')[2])
    
rating

['9.3',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5']

In [76]:
print(len(name),len(rating),len(year))

50 50 50

In [77]:
df=pd.DataFrame({"Name of movie":name,'Rating':rating,'Year of Realise':year})
df

                                        Name of movie Rating Year of Realise
0                            The Shawshank Redemption    9.3          (1994)
1                                       The Godfather    9.2          (1972)
2                                     The Dark Knight    9.0          (2008)
3       The Lord of the Rings: The Return of the King    9.0          (2003)
4                                    Schindler's List    9.0          (1993)
5                                        12 Angry Men    9.0          (1957)
6                               The Godfather Part II    9.0          (1974)
7                                        Pulp Fiction    8.9          (1994)
8                                           Inception    8.8          (2010)
9   The Lord of the Rings: The Fellowship of the Ring    8.8          (2001)
10                                         Fight Club    8.8          (1999)
11                                       Forrest Gump    8.8          (1994)
12              The Lord of the Rings: The Two Towers    8.8          (2002)
13                    Il buono, il brutto, il cattivo    8.8          (1966)
14                                         GoodFellas    8.7          (1990)
15                                         The Matrix    8.7          (1999)
16                    One Flew Over the Cuckoo's Nest    8.7          (1975)
17                            The Empire Strikes Back    8.7          (1980)
18                                       Interstellar    8.6          (2014)
19                                              Se7en    8.6          (1995)
20                                          Star Wars    8.6          (1977)
21                           The Silence of the Lambs    8.6          (1991)
22                                     The Green Mile    8.6          (1999)
23                      Sen to Chihiro no kamikakushi    8.6          (2001)
24                         Terminator 2: Judgment Day    8.6          (1991)
25                                Saving Private Ryan    8.6          (1998)
26                                     Cidade de Deus    8.6          (2002)
27                                    La vita è bella    8.6          (1997)
28                               Shichinin no samurai    8.6          (1954)
29                              It's a Wonderful Life    8.6          (1946)
30                                            Seppuku    8.6          (1962)
31                                              Alien    8.5          (1979)
32                                          Gladiator    8.5          (2000)
33                                           Whiplash    8.5          (2014)
34                                       Gisaengchung    8.5          (2019)
35                                       The Departed    8.5          (2006)
36                                 Back to the Future    8.5          (1985)
37                                               Léon    8.5          (1994)
38                                       The Prestige    8.5          (2006)
39                                             Psycho    8.5          (1960)
40                                      The Lion King    8.5          (1994)
41                                     Apocalypse Now    8.5          (1979)
42                                        The Pianist    8.5          (2002)
43                                 American History X    8.5          (1998)
44                                 The Usual Suspects    8.5          (1995)
45                                         Casablanca    8.5          (1942)
46                       Once Upon a Time in the West    8.5          (1968)
47                                   The Intouchables    8.5          (2011)
48                                     Hotaru no haka    8.5          (1988)
49                                        Rear Window    8.5          (1954)

### Q3 Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [368]:
imdbi=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")

In [369]:
imdbi

In [370]:
soap1=BeautifulSoup(imdbi.content)

In [372]:
name=[]
j=1
for i in soap1.find_all('td',class_="titleColumn"):
    if j <= 50:
        name.append(i.text.split('\n')[2])
        j+=1
name

['      Ramayana: The Legend of Prince Rama',
 '      Rocketry: The Nambi Effect',
 '      Nayakan',
 '      Gol Maal',
 '      777 Charlie',
 '      Anbe Sivam',
 '      Pariyerum Perumal',
 '      Apur Sansar',
 '      3 Idiots',
 '      Manichitrathazhu',
 '      Jai Bhim',
 '      #Home',
 '      Soorarai Pottru',
 '      Black Friday',
 '      Kumbalangi Nights',
 '      C/o Kancharapalem',
 '      Taare Zameen Par',
 '      Kireedam',
 '      Dangal',
 '      Kaithi',
 '      Jersey',
 '      96',
 '      Maya Bazaar',
 '      Natsamrat',
 '      Asuran',
 '      Drishyam 2',
 '      Sita Ramam',
 '      Thevar Magan',
 '      Visaaranai',
 '      Sarpatta Parambarai',
 '      Thalapathi',
 '      Nadodikkattu',
 '      Pather Panchali',
 '      Drishyam',
 '      Thani Oruvan',
 '      Jaane Bhi Do Yaaro',
 '      Vada Chennai',
 '      Aparajito',
 '      Khosla Ka Ghosla!',
 '      Sardar Udham',
 '      Anniyan',
 '      Ratsasan',
 '      Chupke Chupke',
 '      Gangs of Wasseypur',
 '      Drishyam',
 '      Mahanati',
 '      Peranbu',
 '      Bangalore Days',
 '      Premam',
 '      Satya']

In [91]:
year=[]
j=1
for i in soap1.find_all('td',class_="titleColumn"):
    if j <=50:
        
        year.append(i.text.split('\n')[3])
        j+=1
year

['(1993)',
 '(2022)',
 '(1987)',
 '(1979)',
 '(2022)',
 '(2003)',
 '(2018)',
 '(1959)',
 '(2009)',
 '(1993)',
 '(2021)',
 '(2021)',
 '(2020)',
 '(2004)',
 '(2019)',
 '(2018)',
 '(2007)',
 '(1989)',
 '(2016)',
 '(2019)',
 '(2019)',
 '(2018)',
 '(1957)',
 '(2016)',
 '(2019)',
 '(2021)',
 '(2022)',
 '(1992)',
 '(2015)',
 '(2021)',
 '(1991)',
 '(1987)',
 '(1955)',
 '(2013)',
 '(2015)',
 '(1983)',
 '(2018)',
 '(1956)',
 '(2006)',
 '(2021)',
 '(2005)',
 '(2018)',
 '(1975)',
 '(2012)',
 '(2015)',
 '(2018)',
 '(2018)',
 '(2014)',
 '(2015)',
 '(1998)']

In [94]:
rating=[]
j=1
for i in soap1.find_all('td',class_="ratingColumn imdbRating"):
    if j<=50:
        rating.append(i.text.split('\n')[1])
        j+=1
rating

['8.6',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1']

In [95]:
print(len(name),len(rating),len(year))

50 50 50

In [96]:
df=pd.DataFrame({"Name of movie":name,'Rating':rating,'Year of Realise':year})
df

                                Name of movie Rating Year of Realise
0         Ramayana: The Legend of Prince Rama    8.6          (1993)
1                  Rocketry: The Nambi Effect    8.4          (2022)
2                                     Nayakan    8.4          (1987)
3                                    Gol Maal    8.4          (1979)
4                                 777 Charlie    8.4          (2022)
5                                  Anbe Sivam    8.4          (2003)
6                           Pariyerum Perumal    8.4          (2018)
7                                 Apur Sansar    8.4          (1959)
8                                    3 Idiots    8.4          (2009)
9                            Manichitrathazhu    8.3          (1993)
10                                   Jai Bhim    8.3          (2021)
11                                      #Home    8.3          (2021)
12                            Soorarai Pottru    8.3          (2020)
13                               Black Friday    8.3          (2004)
14                          Kumbalangi Nights    8.3          (2019)
15                          C/o Kancharapalem    8.3          (2018)
16                           Taare Zameen Par    8.3          (2007)
17                                   Kireedam    8.3          (1989)
18                                     Dangal    8.3          (2016)
19                                     Kaithi    8.3          (2019)
20                                     Jersey    8.3          (2019)
21                                         96    8.3          (2018)
22                                Maya Bazaar    8.2          (1957)
23                                  Natsamrat    8.2          (2016)
24                                     Asuran    8.2          (2019)
25                                 Drishyam 2    8.2          (2021)
26                                 Sita Ramam    8.2          (2022)
27                               Thevar Magan    8.2          (1992)
28                                 Visaaranai    8.2          (2015)
29                        Sarpatta Parambarai    8.2          (2021)
30                                 Thalapathi    8.2          (1991)
31                               Nadodikkattu    8.2          (1987)
32                            Pather Panchali    8.2          (1955)
33                                   Drishyam    8.2          (2013)
34                               Thani Oruvan    8.2          (2015)
35                         Jaane Bhi Do Yaaro    8.2          (1983)
36                               Vada Chennai    8.2          (2018)
37                                  Aparajito    8.2          (1956)
38                          Khosla Ka Ghosla!    8.2          (2006)
39                               Sardar Udham    8.2          (2021)
40                                    Anniyan    8.2          (2005)
41                                   Ratsasan    8.1          (2018)
42                              Chupke Chupke    8.1          (1975)
43                         Gangs of Wasseypur    8.1          (2012)
44                                   Drishyam    8.1          (2015)
45                                   Mahanati    8.1          (2018)
46                                    Peranbu    8.1          (2018)
47                             Bangalore Days    8.1          (2014)
48                                     Premam    8.1          (2015)
49                                      Satya    8.1          (1998)

### Q4 Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [97]:
link=requests.get('https://presidentofindia.nic.in/former-presidents.htm')

In [98]:
link

In [99]:
soap2=BeautifulSoup(link.content)

In [114]:
Name=[]
for i in soap2.find_all('div',class_='presidentListing'):
    Name.append(i.text.split('\n')[1].split('(')[0])

Name

['Shri Ram Nath Kovind ',
 'Shri Pranab Mukherjee ',
 'Smt Pratibha Devisingh Patil ',
 'DR. A.P.J. Abdul Kalam ',
 'Shri K. R. Narayanan ',
 'Dr Shankar Dayal Sharma ',
 'Shri R Venkataraman ',
 'Giani Zail Singh ',
 'Shri Neelam Sanjiva Reddy ',
 'Dr. Fakhruddin Ali Ahmed ',
 'Shri Varahagiri Venkata Giri ',
 'Dr. Zakir Husain ',
 'Dr. Sarvepalli Radhakrishnan ',
 'Dr. Rajendra Prasad ']

In [107]:
term=[]
for i in soap2.find_all('div',class_='presidentListing'):
    term.append(i.text.split('\n')[2].split(':')[1])

term

[' 25 July, 2017 to 25 July, 2022 ',
 ' 25 July, 2012 to 25 July, 2017 ',
 ' 25 July, 2007 to 25 July, 2012 ',
 ' 25 July, 2002 to 25 July, 2007 ',
 ' 25 July, 1997 to 25 July, 2002 ',
 ' 25 July, 1992 to 25 July, 1997 ',
 ' 25 July, 1987 to 25 July, 1992 ',
 ' 25 July, 1982 to 25 July, 1987 ',
 ' 25 July, 1977 to 25 July, 1982 ',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962']

In [115]:
print(len(Name),len(term))

14 14

In [116]:
df=pd.DataFrame({'Former President of India':Name,'Term of Office':term})
df

,Former President of India,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

### Q5 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

**a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.**

In [136]:
cricket=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
cricket

In [137]:
soap=BeautifulSoup(cricket.content)

In [140]:
Team_name=[]
j=1
for i in soap.find_all('span',class_="u-hide-phablet"):
    if j<=10:
        Team_name.append(i.text)
        j+=1
Team_name

['Australia',
 'New Zealand',
 'India',
 'England',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [153]:
Match_played=[]
k=soap.find('td',class_="rankings-block__banner--matches")
Match_played.append(k.text)


j=1
for i in soap.find_all('td',class_="table-body__cell u-center-text"):
    if j<19:
        if j%2!=0:
            Match_played.append(i.text)
        j+=1
Match_played

['35', '31', '47', '36', '25', '31', '38', '36', '43', '20']

In [154]:
points=[]
k=soap.find('td',class_="rankings-block__banner--points")
points.append(k.text)


j=1
for i in soap.find_all('td',class_="table-body__cell u-center-text"):
    if j<19:
        if j%2==0:
            points.append(i.text)
        j+=1
points

['3,965',
 '3,504',
 '5,294',
 '3,988',
 '2,649',
 '3,141',
 '3,625',
 '3,099',
 '3,105',
 '1,419']

In [363]:
rating=[]
k=soap.find('td',class_="rankings-block__banner--rating u-text-right")
rating.append(k.text.split('\n')[1].strip())


j=1
for i in soap.find_all('td',class_="table-body__cell u-text-right rating"):
    if j<10:
        rating.append(i.text)
        j+=1
rating

['172', '119', '119', '104', '102', '94', '76', '75', '62', '44']

In [164]:
print(len(rating),len(points),len(Match_played),len(Team_name))

10 10 10 10

In [168]:
df=pd.DataFrame({'Team Name':Team_name,'Match Played':Match_played,'Points':points,'Rating':rating})
df

      Team Name Match Played Points                           Rating
0     Australia           35  3,965                              113
1   New Zealand           31  3,504                              113
2         India           47  5,294                              113
3       England           36  3,988                              111
4      Pakistan           25  2,649                              106
5  South Africa           31  3,141                              101
6    Bangladesh           38  3,625                               95
7     Sri Lanka           36  3,099                               86
8   West Indies           43  3,105                               72
9   Afghanistan           20  1,419                               71

**b) Top 10 ODI Batsmen along with the records of their team and rating.**

In [169]:
link=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
link

In [170]:
soap=BeautifulSoup(link.content)

In [175]:
name=[]
k=soap.find('div',class_="rankings-block__banner--name")
name.append(k.text)


j=1
for i in soap.find_all('td',class_="table-body__cell name"):
    if j<10:
        name.append(i.text.split('\n')[1])
        j+=1
name

['Babar Azam',
 'Rassie van der Dussen',
 'Imam-ul-Haq',
 'Shubman Gill',
 'David Warner',
 'Virat Kohli',
 'Quinton de Kock',
 'Rohit Sharma',
 'Steve Smith',
 'Fakhar Zaman']

In [179]:
nation=[]
k=soap.find('div',class_="rankings-block__banner--nationality")
nation.append(k.text.split('\n')[2])


j=1
for i in soap.find_all('span',class_="table-body__logo-text"):
    if j<10:
        nation.append(i.text)
        j+=1
nation

['PAK', 'SA', 'PAK', 'IND', 'AUS', 'IND', 'SA', 'IND', 'AUS', 'PAK']

In [181]:
rating=[]
k=soap.find('div',class_="rankings-block__banner--rating")
rating.append(k.text)


j=1
for i in soap.find_all('td',class_="table-body__cell u-text-right rating"):
    if j<10:
        rating.append(i.text)
        j+=1
rating

['887', '777', '740', '738', '726', '719', '718', '707', '702', '699']

In [182]:
print(len(name),len(nation),len(rating))

10 10 10

In [183]:
df=pd.DataFrame({'Player':name,'Country':nation,'Rating':rating})
df

                  Player Country Rating
0             Babar Azam     PAK    887
1  Rassie van der Dussen      SA    777
2            Imam-ul-Haq     PAK    740
3           Shubman Gill     IND    738
4           David Warner     AUS    726
5            Virat Kohli     IND    719
6        Quinton de Kock      SA    718
7           Rohit Sharma     IND    707
8            Steve Smith     AUS    702
9           Fakhar Zaman     PAK    699

**c) Top 10 ODI bowlers along with the records of their team and rating.**

In [244]:
link=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
link

In [208]:
soap1=BeautifulSoup(link.content)

In [224]:
name=[]
k=soap1.find('div',class_="rankings-block__banner--name-large")
name.append(k.text)


j=1
for i in soap1.find_all('td',class_="table-body__cell rankings-table__name name"):
    if j<10:
        name.append(i.text.split('\n')[1])
        j+=1
name

['Josh Hazlewood',
 'Trent Boult',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Matt Henry',
 'Rashid Khan',
 'Adam Zampa',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Shakib Al Hasan']

In [265]:
nation=[]
k=soap.find('div',class_="rankings-block__banner--nationality")
nation.append(k.text.split('\n')[2])


j=1
for i in soap.find_all('span',class_="table-body__logo-text"):
    if j<10:
        nation.append(i.text)
        j+=1
nation

['AUS', 'NZ', 'IND', 'AUS', 'NZ', 'AFG', 'AUS', 'PAK', 'AFG', 'BAN']

In [267]:
rating=[]
k=soap.find('div',class_="rankings-block__banner--rating")
rating.append(k.text)


j=1
for i in soap.find_all('td',class_="table-body__cell rating"):
    if j<10:
        rating.append(i.text)
        j+=1
rating

['705', '694', '691', '686', '676', '659', '652', '641', '637', '636']

In [268]:
print(len(name),len(nation),len(rating))

10 10 10

In [269]:
df=pd.DataFrame({'Player':name,'Country':nation,'Rating':rating})
df

             Player Country Rating
0    Josh Hazlewood     AUS    705
1       Trent Boult      NZ    694
2    Mohammed Siraj     IND    691
3    Mitchell Starc     AUS    686
4        Matt Henry      NZ    676
5       Rashid Khan     AFG    659
6        Adam Zampa     AUS    652
7    Shaheen Afridi     PAK    641
8  Mujeeb Ur Rahman     AFG    637
9   Shakib Al Hasan     BAN    636

### Q6  Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
**a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.**

In [356]:
link=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
link

In [357]:
soap=BeautifulSoup(link.content)

In [358]:
Team_name=[]
j=1
for i in soap.find_all('span',class_="u-hide-phablet"):
    if j<=10:
        Team_name.append(i.text)
        j+=1
Team_name

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka']

In [359]:
Match_played=[]
k=soap.find('td',class_="rankings-block__banner--matches")
Match_played.append(k.text)


j=1
for i in soap.find_all('td',class_="table-body__cell u-center-text"):
    if j<19:
        if j%2!=0:
            Match_played.append(i.text)
        j+=1
Match_played

['21', '28', '26', '27', '25', '27', '13', '11', '27', '8']

In [360]:
points=[]
k=soap.find('td',class_="rankings-block__banner--points")
points.append(k.text)


j=1
for i in soap.find_all('td',class_="table-body__cell u-center-text"):
    if j<19:
        if j%2==0:
            points.append(i.text)
        j+=1
points

['3,603',
 '3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '821',
 '1,678',
 '353']

In [362]:
rating=[]
k=soap.find('td',class_="rankings-block__banner--rating u-text-right")
rating.append(k.text.split('\n')[1].strip())


j=1
for i in soap.find_all('td',class_="table-body__cell u-text-right rating"):
    if j<10:
        rating.append(i.text)
        j+=1
rating

['172', '119', '119', '104', '102', '94', '76', '75', '62', '44']

In [364]:
print(len(rating),len(points),len(Match_played),len(Team_name))

10 10 10 10

In [365]:
df=pd.DataFrame({'Team Name':Team_name,'Match Played':Match_played,'Points':points,'Rating':rating})
df

      Team Name Match Played Points Rating
0     Australia           21  3,603    172
1       England           28  3,342    119
2  South Africa           26  3,098    119
3         India           27  2,820    104
4   New Zealand           25  2,553    102
5   West Indies           27  2,535     94
6    Bangladesh           13    983     76
7      Thailand           11    821     75
8      Pakistan           27  1,678     62
9     Sri Lanka            8    353     44

**b) Top 10 women’s ODI Batting players along with the records of their team and rating.**

In [274]:
link=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
link

In [275]:
soap=BeautifulSoup(link.content)

In [276]:
name=[]
k=soap.find('div',class_="rankings-block__banner--name-large")
name.append(k.text)


j=1
for i in soap.find_all('td',class_="table-body__cell rankings-table__name name"):
    if j<10:
        name.append(i.text.split('\n')[1])
        j+=1
name

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Chamari Athapaththu',
 'Amy Satterthwaite',
 'Ellyse Perry']

In [277]:
nation=[]
k=soap.find('div',class_="rankings-block__banner--nationality")
nation.append(k.text.split('\n')[2])


j=1
for i in soap.find_all('span',class_="table-body__logo-text"):
    if j<10:
        nation.append(i.text)
        j+=1
nation

['AUS', 'AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'SL', 'NZ', 'AUS']

In [278]:
rating=[]
k=soap.find('div',class_="rankings-block__banner--rating")
rating.append(k.text)


j=1
for i in soap.find_all('td',class_="table-body__cell rating"):
    if j<10:
        rating.append(i.text)
        j+=1
rating

['762', '754', '732', '731', '717', '716', '714', '655', '641', '626']

In [280]:
print(len(name),len(nation),len(rating))

10 10 10

In [281]:
df=pd.DataFrame({'Player':name,'Country':nation,'Rating':rating})
df

                Player Country Rating
0         Alyssa Healy     AUS    762
1          Beth Mooney     AUS    754
2      Laura Wolvaardt      SA    732
3       Natalie Sciver     ENG    731
4          Meg Lanning     AUS    717
5     Harmanpreet Kaur     IND    716
6      Smriti Mandhana     IND    714
7  Chamari Athapaththu      SL    655
8    Amy Satterthwaite      NZ    641
9         Ellyse Perry     AUS    626

**c) Top 10 women’s ODI all-rounder along with the records of their team and ratin**

In [282]:
link=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
link

In [283]:
soap=BeautifulSoup(link.content)

In [284]:
name=[]
k=soap.find('div',class_="rankings-block__banner--name-large")
name.append(k.text)


j=1
for i in soap.find_all('td',class_="table-body__cell rankings-table__name name"):
    if j<10:
        name.append(i.text.split('\n')[1])
        j+=1
name

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Sophie Ecclestone']

In [285]:
nation=[]
k=soap.find('div',class_="rankings-block__banner--nationality")
nation.append(k.text.split('\n')[2])


j=1
for i in soap.find_all('span',class_="table-body__logo-text"):
    if j<10:
        nation.append(i.text)
        j+=1
nation

['WI', 'ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'ENG']

In [286]:
rating=[]
k=soap.find('div',class_="rankings-block__banner--rating")
rating.append(k.text)


j=1
for i in soap.find_all('td',class_="table-body__cell rating"):
    if j<10:
        rating.append(i.text)
        j+=1
rating

['373', '371', '366', '349', '336', '322', '292', '250', '232', '205']

In [287]:
print(len(name),len(nation),len(rating))

10 10 10

In [288]:
df=pd.DataFrame({'Player':name,'Country':nation,'Rating':rating})
df

              Player Country Rating
0    Hayley Matthews      WI    373
1     Natalie Sciver     ENG    371
2       Ellyse Perry     AUS    366
3     Marizanne Kapp      SA    349
4        Amelia Kerr      NZ    336
5      Deepti Sharma     IND    322
6   Ashleigh Gardner     AUS    292
7      Jess Jonassen     AUS    250
8           Nida Dar     PAK    232
9  Sophie Ecclestone     ENG    205

### Q7 Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame

**i) Headline**

In [291]:
link=requests.get("https://www.cnbc.com/world/?region=world")
link

In [292]:
soap=BeautifulSoup(link.content)

In [318]:
headline=[]
for i in soap.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)
headline

['Europe stocks markets set for higher open as earnings boost sentiment',
 "IMF warns of 'disorderly' house price corrections in Europe as interest rates move higher",
 'CNBC Daily Open: Markets had their best day in three months',
 "Microsoft's big bet on cloud gaming is what tripped up Activision takeover",
 'Wall Street predicted a big surge for oil this year. But prices are now lower',
 'Obesity drug industry could be worth $200 billion in next decade, Barclays says',
 'Swiss National Bank to face Credit Suisse and climate protests at fraught AGM',
 'Bank of Japan sticks to negative rates while announcing policy review',
 "China's SMIC will 'struggle' to make cutting-edge chips competitively",
 "China just called Ukraine. The timing wasn't accidental, analysts say",
 "This weight-loss drug maker's stock is up 20% this year — and Barclays sees it going higher",
 'Goldman and Morgan Stanley say these chip stocks have more upside ahead of them',
 'CNBC Daily Open: Markets had their best day in months',
 'Amazon must do more to rein in costs to grow in 2023 ',
 'Asia markets rise as Japan keeps monetary policy unchanged, yen weakens',
 "Thursday's rally showed the power of stock picking, Jim Cramer says",
 'Stock futures fall slightly as investors digest Amazon, Intel earnings ',
 'Stocks making the biggest moves after hours: Amazon, Intel, Snap, Pinterest and more',
 'Cloudflare stock plunges more than 20% after revising guidance down',
 "Meta pops on 1Q earnings results and guidance. Here's how the pros are playing it",
 "Amazon's 18% cloud revenue growth impresses even as margin narrows",
 'Snap plunges on first-quarter revenue miss',
 'Intel reports largest quarterly loss in company history',
 'Here’s a full recap of CNBC’s 2023 Stock Draft',
 "Powell duped by Russian pranksters claiming to be Ukraine's Volodymyr Zelenskyy",
 'Analysts are raising earnings estimates on these companies reporting next week',
 "Here's why the stock market had such a massive rally Thursday ",
 "Paramount wants to get moviegoers back to theaters. Here's what it has on deck",
 "Caterpillar, two other Club names report strong Q1. Here's where we stand on each",
 "Wall Street experts still see a recession coming. Here's what they're saying "]

In [299]:
len(headline)

30

**ii) Time**

In [297]:
time=[]
for i in soap.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)
time

['18 Min Ago',
 '33 Min Ago',
 '41 Min Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '2 Hours Ago',
 '5 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '9 Hours Ago',
 '9 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago']

In [298]:
len(time)

30


**iii) News Link**

In [317]:
News_link=[]
for i in soap.find_all('a',class_="LatestNews-headline"):
    News_link.append(i.get('href'))
News_link

['https://www.cnbc.com/2023/04/28/european-markets-open-to-close-earnings-data-and-news.html',
 'https://www.cnbc.com/2023/04/28/imf-warns-of-disorderly-house-price-corrections-in-europe-amid-high-rates.html',
 'https://www.cnbc.com/2023/04/28/stock-markets-markets-had-their-best-day-in-three-months.html',
 'https://www.cnbc.com/2023/04/28/microsofts-big-bet-on-cloud-gaming-is-what-tripped-up-activision-deal.html',
 'https://www.cnbc.com/2023/04/28/wall-street-predicted-a-big-surge-for-oil-this-year-but-prices-are-now-lower.html',
 'https://www.cnbc.com/2023/04/28/obesity-drugs-to-be-worth-200-billion-in-next-10-years-barclays-says.html',
 'https://www.cnbc.com/2023/04/28/swiss-national-bank-to-face-credit-suisse-and-climate-protests-at-fraught-agm.html',
 'https://www.cnbc.com/2023/04/28/bank-of-japan-policy-decision-kazuo-ueda-first-meeting.html',
 'https://www.cnbc.com/2023/04/28/chinas-smic-may-struggle-to-make-cutting-edge-chips-competitively.html',
 'https://www.cnbc.com/2023/04/28/why-did-china-just-call-ukraine-analysts-share-their-theories.html',
 'https://www.cnbc.com/2023/04/28/this-weight-loss-drug-makers-stock-is-up-20percent-this-year-and-barclays-sees-it-going-higher.html',
 'https://www.cnbc.com/2023/04/28/semiconductor-goldman-morgan-stanley-name-chip-stocks-with-upside.html',
 'https://www.cnbc.com/2023/04/28/stock-markets-markets-had-their-best-day-in-months.html',
 'https://www.cnbc.com/2023/04/27/amazon-must-do-more-to-rein-in-costs-to-keep-growing-in-2023-.html',
 'https://www.cnbc.com/2023/04/28/asia-markets-to-rise-as-wall-street-rallies-investors-look-ahead-to-bank-of-japan-policy-meeting.html',
 'https://www.cnbc.com/2023/04/27/thursdays-rally-showed-the-power-of-stock-picking-jim-cramer-says.html',
 'https://www.cnbc.com/2023/04/27/stock-market-today-live-updates.html',
 'https://www.cnbc.com/2023/04/27/stocks-making-the-biggest-moves-after-hours-amazon-intel-snap-pinterest-and-more.html',
 'https://www.cnbc.com/2023/04/27/cloudflare-net-q1-earnings-report.html',
 'https://www.cnbc.com/2023/04/27/meta-pops-on-guidance-heres-how-the-pros-are-playing-it.html',
 'https://www.cnbc.com/2023/04/27/aws-q1-earnings-report-2023.html',
 'https://www.cnbc.com/2023/04/27/snap-q1-earnings-report-2023.html',
 'https://www.cnbc.com/2023/04/27/intel-intc-earnings-report-q1-2023.html',
 'https://www.cnbc.com/2023/04/27/cnbcs-2023-stock-draft-recap-flair-likes-nvidia-mosley-picks-pg.html',
 'https://www.cnbc.com/2023/04/27/powell-duped-by-russian-pranksters-claiming-to-be-ukraines-zelenskyy-.html',
 'https://www.cnbc.com/2023/04/27/analysts-are-raising-earnings-estimates-on-these-companies.html',
 'https://www.cnbc.com/2023/04/27/heres-why-the-stock-market-is-having-such-a-massive-rally-today.html',
 'https://www.cnbc.com/2023/04/27/paramount-film-slate-studio-hopes-to-draw-back-moviegoers.html',
 'https://www.cnbc.com/2023/04/27/caterpillar-honeywell-linde-report-strong-quarters-heres-our-analysis.html',
 'https://www.cnbc.com/2023/04/27/welcome-to-the-recession-most-of-wall-street-still-sees-trouble-ahead-for-the-us-economy.html']

In [319]:
len(News_link)

30

In [320]:
df=pd.DataFrame({'Headlines':headline,'Time':time,'New Link':News_link})
df

,Headlines,Time,New Link
0,Europe stocks markets set for higher open as e...,[18 Min Ago],https://www.cnbc.com/2023/04/28/european-marke...
1,IMF warns of 'disorderly' house price correcti...,[33 Min Ago],https://www.cnbc.com/2023/04/28/imf-warns-of-d...
2,CNBC Daily Open: Markets had their best day in...,[41 Min Ago],https://www.cnbc.com/2023/04/28/stock-markets-...
3,Microsoft's big bet on cloud gaming is what tr...,[1 Hour Ago],https://www.cnbc.com/2023/04/28/microsofts-big...
4,Wall Street predicted a big surge for oil this...,[1 Hour Ago],https://www.cnbc.com/2023/04/28/wall-street-pr...
5,Obesity drug industry could be worth $200 bill...,[1 Hour Ago],https://www.cnbc.com/2023/04/28/obesity-drugs-...
6,Swiss National Bank to face Credit Suisse and ...,[1 Hour Ago],https://www.cnbc.com/2023/04/28/swiss-national...
7,Bank of Japan sticks to negative rates while a...,[2 Hours Ago],https://www.cnbc.com/2023/04/28/bank-of-japan-...
8,China's SMIC will 'struggle' to make cutting-e...,[5 Hours Ago],https://www.cnbc.com/2023/04/28/chinas-smic-ma...
9,China just called Ukraine. The timing wasn't a...,[6 Hours Ago],https://www.cnbc.com/2023/04/28/why-did-china-...
10,This weight-loss drug maker's stock is up 20% ...,[6 Hours Ago],https://www.cnbc.com/2023/04/28/this-weight-lo...
11,Goldman and Morgan Stanley say these chip stoc...,[6 Hours Ago],https://www.cnbc.com/2023/04/28/semiconductor-...
12,CNBC Daily Open: Markets had their best day in...,[6 Hours Ago],https://www.cnbc.com/2023/04/28/stock-markets-...
13,Amazon must do more to rein in costs to grow i...,[7 Hours Ago],https://www.cnbc.com/2023/04/27/amazon-must-do...
14,Asia markets rise as Japan keeps monetary poli...,[7 Hours Ago],https://www.cnbc.com/2023/04/28/asia-markets-t...
15,Thursday's rally showed the power of stock pic...,[8 Hours Ago],https://www.cnbc.com/2023/04/27/thursdays-rall...
16,Stock futures fall slightly as investors diges...,[8 Hours Ago],https://www.cnbc.com/2023/04/27/stock-market-t...
17,Stocks making the biggest moves after hours: A...,[9 Hours Ago],https://www.cnbc.com/2023/04/27/stocks-making-...
18,Cloudflare stock plunges more than 20% after r...,[9 Hours Ago],https://www.cnbc.com/2023/04/27/cloudflare-net...
19,Meta pops on 1Q earnings results and guidance....,[10 Hours Ago],https://www.cnbc.com/2023/04/27/meta-pops-on-g...
20,Amazon's 18% cloud revenue growth impresses ev...,[10 Hours Ago],https://www.cnbc.com/2023/04/27/aws-q1-earning...
21,Snap plunges on first-quarter revenue miss,[10 Hours Ago],https://www.cnbc.com/2023/04/27/snap-q1-earnin...
22,Intel reports largest quarterly loss in compan...,[10 Hours Ago],https://www.cnbc.com/2023/04/27/intel-intc-ear...
23,Here’s a full recap of CNBC’s 2023 Stock Draft,[11 Hours Ago],https://www.cnbc.com/2023/04/27/cnbcs-2023-sto...
24,Powell duped by Russian pranksters claiming to...,[11 Hours Ago],https://www.cnbc.com/2023/04/27/powell-duped-b...
25,Analysts are raising earnings estimates on the...,[11 Hours Ago],https://www.cnbc.com/2023/04/27/analysts-are-r...
26,Here's why the stock market had such a massive...,[11 Hours Ago],https://www.cnbc.com/2023/04/27/heres-why-the-...
27,Paramount wants to get moviegoers back to thea...,[11 Hours Ago],https://www.cnbc.com/2023/04/27/paramount-film...
28,"Caterpillar, two other Club names report stron...",[11 Hours Ago],https://www.cnbc.com/2023/04/27/caterpillar-ho...
29,Wall Street experts still see a recession comi...,[11 Hours Ago],https://www.cnbc.com/2023/04/27/welcome-to-the...

### Q8 Write a python program to scrape the details of most downloaded articles from AI in last  90days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame

In [321]:
link=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
link

In [322]:
soap=BeautifulSoup(link.content)

**i) Paper Title**

In [337]:
Title=[]
for i in soap.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    Title.append(i.text)
Title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [324]:
len(Title)

25

**ii) Authors**

In [325]:
Author=[]
for i in soap.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    Author.append(i.text)
Author

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [326]:
len(Author)

25

**iii) Published Date**

In [327]:
Publish_Date=[]
for i in soap.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    Publish_Date.append(i.text)
Publish_Date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [328]:
len(Publish_Date)

25

**iv) Paper URL**

In [334]:
Url=[]
for i in soap.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    Url.append(i.get('href'))
Url

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [333]:
len(URL)

25

In [338]:
df=pd.DataFrame({"Paper Title":Title,'Authors':Author,'Publised Date':Publish_Date,'Paper URL':Url})
df

,Paper Title,Authors,Publised Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

### Q9 Write a python program to scrape mentioned details from dineout.co.in and make data frame

In [339]:
link=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
link

In [340]:
soap=BeautifulSoup(link.content)

**i) Restaurant name**

In [342]:
Restaurant_name=[]
for i in soap.find_all('a',class_="restnt-name ellipsis"):
    Restaurant_name.append(i.text)
Restaurant_name

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [343]:
len(Restaurant_name)

9

**ii) Cuisine**

In [344]:
Cuisine=[]
for i in soap.find_all('div',class_="detail-info"):
    Cuisine.append(i.text.split('|')[1])
Cuisine

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Italian, Continental1 deal available',
 ' Chinese, North Indian',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [345]:
len(Cuisine)

9

**iii) Location**

In [346]:
Location=[]
for i in soap.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(i.text)
Location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [348]:
len(Location)

9

**iv) Ratings**

In [349]:
Rating=[]
for i in soap.find_all('div',class_="restnt-rating rating-4"):
    Rating.append(i.text)
Rating

['4', '3.9', '4.3', '3.9', '3.9', '3.9', '3.7', '3.8', '4.3']

In [350]:
len(Rating)

9

**v) Image URL**

In [352]:
Image_url=[]
for i in soap.find_all('img',class_="no-img"):
    Image_url.append(i.get('data-src'))
Image_url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [353]:
len(Image_url)

9

In [355]:
df=pd.DataFrame({'Restaurant Name':Restaurant_name,'Cuisine':Cuisine,'Location':Location,'Rating':Rating,'Image URL':Image_url})
df

,Restaurant Name,Cuisine,Location,Rating,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental1 deal available","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...